*
{
    margin: 0px;
    text-decoration: none;
}
body
{
    background-color: antiquewhite;
}
nav
{
    border-bottom: solid #777 1px;
}
.homeButton
{
    text-decoration: none;
}
.button
{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: solid #777 1px;
    margin: 5px;
    color: black;
    background-color: antiquewhite;
}
.button:hover
{
    background-color: white;
}
#patienten
{
    margin: 10px;
    border: solid #565656 1px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: center;
}
.patient
{
    width:90%;
    height: 90%;
    background-color:aquamarine;
    color: black;
    font-size:24px;
    padding:10px;
    border-radius:10px;
}
#loginForm
{
    margin-left: 40%;
    margin-right: 45%;
}
.login
{
    margin-right: 0px;
}
.logout
{
}
.title
{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#medications
{
    border-radius:15px;
    margin: 10px;
    border: solid #565656 1px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
}
.medicine
{
    background-color:aquamarine;
    color: black;
    font-size:24px;
    padding:10px;
    margin: 10px;
    border-radius:15px;
}
#recepten
{
    border-radius:15px;
    margin: 10px;
    border: solid #777 1px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
}
.recept
{
    background-color:aquamarine;
    color: black;
    font-size:24px;
    padding:10px;
    margin: 10px;
    border-radius:15px;
}