body
{
    background-color: antiquewhite;
}
#patienten
{
    margin: 10px;
    border: dotted black 1px;
    display:grid;
    grid-template-columns:repeat(4,1fr);

    justify-content: center;
}
.patient
{
    width:90%;
    height: 90%;
    background-color:aquamarine;
    color: black;
    font-size:24px;
    padding:10px;
    border-radius:10px;
}
#loginForm
{
    margin-left: 40%;
    margin-right: 45%;
}
#logout
{
    float: right;
}
.title
{
    display: block;
    margin-left: 45%;
    margin-right: 45%;
}
#medications
{
    margin: 10px;
    border: dotted black 1px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
}
.medicine
{
    background-color:aquamarine;
    color: black;
    font-size:24px;
    padding:10px;
    margin: 10px;
    border-radius:15px;
}