<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}healthone{% endblock %}</title>
        <link rel="stylesheet" href="/css/Style.css">
    </head>
    <body>
        <nav>
            <h1 class="title">healthone</h1>
            <a class="button login" href="{{ path('app_login') }}">login</a>
            <a class="button logout" href="{{ path('app_logout') }}">logout</a>
        </nav>
        {% block body %}
            {% block section1 %}{%endblock  %}<br>
            {% block section2 %}{%endblock  %}<br>
            {% block section3 %}{%endblock  %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
