<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}healthone{% endblock %}</title>
        <link rel="stylesheet" href="/css/Style.css">
    </head>
    <body>
        <h1 class="title">healthone</h1>
        {% block body %}
            {% block section1 %}{%endblock  %}<br>
            {% block section2 %}{%endblock  %}<br>
            {% block section3 %}{%endblock  %}
            {% block section4 %}{%endblock  %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
