{% extends 'home.html.twig' %}
{% block body %}
<h3 class="title">medicijnen</h3>

<ul>
    {% for medicine in medication %}
        <div class="medicine">
        {{ medicine }}
        </div>
    {% endfor %}
</ul>
{% endblock %}