{% extends 'home.html.twig' %}
{% block body %}
<h3 class="title">medicijnen</h3>

<div id="medications">
    {% for drug in drugs %}
        <div class="medicine">
            naam: {{ drug.naam }}<br/><br/>
            werking: {{ drug.werking }}<br/><br/>
            bijwerkingen: {{ drug.bijwerkingen }}<br/><br/>
            verzekerd: {{ drug.verzekerd }}<br/>
        </div>
    {% endfor %}
</div>
{% endblock %}